{% extends 'base.html' %}
{% load discount %}


{% block page_content %}
    <h1>Корзина</h1>
    {% csrf_token %}
    <div class="row">
    {% for product in cart %}
        <div class="col-xs-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ product.name }}
                    <button type="button" class="close" data-toggle="modal" data-target="#modal-del-{{ product.name }}" title="Удалить">&times;</button>
                </div>
                <div class="panel-body">
                    <p>Цена: {{ product.price }}</p>
                    {% ifnotequal product.discounted_price product.price %}
                        <p class="text-warning">
                            <span>Сегодняшняя скидка:</span>
                            <span class="pull-right label label-warning">-{{ product.get_showcase_discount }}%</span>
                        </p>
                    {% endifnotequal %}
                    {% ifnotequal product|user_price:user product.price %}
                        <p class="text-success">
                            <span>Скидка покупателя:</span>
                            <span class="pull-right label label-success">-{{ user_discount }}%</span>
                        </p>
                        <p class="pull-right">
                            <strike class="text-muted">
                                К оплате: {{ product.price }}
                            </strike>
                            {{ product|user_price:user }}
                        </p>

                    {% else %}
                    Цена: {{ product.price }}
                    {% endifnotequal %}
                </div>
            </div>
        </div>
        <div class="modal" aria-hidden="true" id="modal-del-{{ product.name }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Удаление товара</h4>
                    </div>
                    <div class="modal-body">
                        <p>Вы действительно желаете удалить товар <strong>"{{ product.name }}"</strong> из корзины?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-danger cart-del" data-product="{{ product.name }}" data-dismiss="modal">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}