{% extends 'base.html' %}

{% block page_content %}
    <h1>Категории товаров:</h1>
    <div class="row">
    {% for category in categories %}
        <div class="col-xs-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/categories/{{ category.name }}">
                        {{ category.name }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}