{% extends 'base.html' %}
{% load discount %}

{% block page_content %}
    <h1>Товары категории <strong>{{ category.name }}</strong>:</h1>
    <div class="row">
    {% csrf_token %}
    {% for product in products %}
        <div class="col-xs-6 col-lg-4">
            <div class="panel{% ifnotequal product.discounted_price product.price %} panel-warning{% else %}  panel-default{% endifnotequal %}">
                <div class="panel-heading">
                    {{ product.name }}
                </div>
                <div class="panel-body">
                    {% ifnotequal product.discounted_price product.price %}
                        <strike class="text-muted">
                            Цена: {{ product.price }}
                        </strike>
                         {{ product.discounted_price }}
                        <span class="pull-right label label-warning">-{{ product.get_showcase_discount }}%</span>
                        {% else %}
                        Цена: {{ product.price }}
                    {% endifnotequal %}
                    <div class="container">
                        <div class="row">
                            {% if product|is_in_cart:user %}
                                <button class="btn btn-sm btn-danger cart-del-toggle" data-product="{{ product.name }}">Убрать из корзины</button>
                            {% else %}
                                <button class="btn btn-sm btn-default cart-add-toggle" data-product="{{ product.name }}">В корзину</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}