{% extends 'base.html' %}

{% block page_content %}
    <div class="jumbotron">
        <h1>Магазин всяких всячин</h1>
        <p>Скидки каждый день</p>
    </div>
    <div class="container">
        <h2>Текущие скидки</h2>
        <div class="well">
            <strong>Продукты: </strong>
            {% for discount in discounts_product%}
                {{ discount.product.name }} &ndash; {{ discount.discount }}%{% if not forloop.last %};{% endif %}
            {% endfor %}
        </div>
        <div class="well">
            <strong>Бренды: </strong>
            {% for discount in discounts_brand%}
                {{ discount.brand.name }} &ndash; {{ discount.discount }}%{% if not forloop.last %};{% endif %}
            {% endfor %}
        </div>
        <div class="well">
            <strong>Категории: </strong>
            {% for discount in discounts_category%}
                {{ discount.category.name }} &ndash; {{ discount.discount }}%{% if not forloop.last %};{% endif %}
            {% endfor %}
        </div>
        <div class="well">
            <strong>Пол: </strong>
            {% for discount in discounts_gender%}
                {{ discount.gender }} &ndash; {{ discount.discount }}%{% if not forloop.last %};{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}