{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Магазин всяческих всячин</title>
        <!-- Bootstrap-->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'custom/css/offcanvas.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'custom/css/custom.css' %}" rel="stylesheet" type="text/css" />

        {% block css %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'pages_ui/header.html' %}
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                {% include 'pages_ui/sidebar.html' %}
                <div>
                    {% block page_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'pages_ui/footer.html' %}

        <!-- jQuery-->
        <script src="{% static 'jquery-1.11.3.min.js' %}" type="text/javascript"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <script>
            var user = '{{ user.name }}';
        </script>

        {% block js %}
        {% endblock %}

        <script src="{% static 'custom/js/custom.js' %}" type="text/javascript"></script>
    </body>

</html>